.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 8px;
}

.lanyard-wrapper canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
